
<section
    class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative" data-header-color="white">
    
    <div class="z-30 relative h-full flex flex-col">
        <header >
            <h2 class="text-white pt-40 text-[40px] font-medium">Enjoy Tesla</h2>
            <p class="text-white text-sm">Schedule a test drive today</p>	
        </header>

        <footer class="flex flex-col flex-grow justify-end pb-12">
            <div>
                <a class="border-2 border-white bg-white/5 text-sm backdrop-blur-sm rounded font.medium text-white px-6 py-2 hover:bg-white hover:text-black transition-colors" href="#">Test drive</a>
            </div>
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0  h-full w-full z-10">
        <video 
            autoplay
            muted
            loop
            class="object-center object-cover h-full w-full"
            src='video.webm'></video>
    </div>
</section>